	-----
	${project.description}
	-----
	Cristian Sulea
	-----
	2014-07-30
	-----


${project.name}
	
	${project.description}


* Version ${project.version} ( October 2, 2015 )

	Binaries
		
		* {{{https://github.com/cristian-sulea/${project.artifactId}/releases/download/v.${project.version}/${project.artifactId}-${project.version}-bin.zip}${project.artifactId}-${project.version}-bin.zip}}
		
		
		* {{{https://github.com/cristian-sulea/${project.artifactId}/releases/download/v.${project.version}/${project.artifactId}-${project.version}-bin.tar.gz}${project.artifactId}-${project.version}-bin.tar.gz}}
		
		[]
	
	Sources
		
		* {{{https://github.com/cristian-sulea/${project.artifactId}/releases/download/v.${project.version}/${project.artifactId}-${project.version}-src.zip}${project.artifactId}-${project.version}-src.zip}}
		
		
		* {{{https://github.com/cristian-sulea/${project.artifactId}/releases/download/v.${project.version}/${project.artifactId}-${project.version}-src.tar.gz}${project.artifactId}-${project.version}-src.tar.gz}}
		
		[]
	
	Older releases can be obtained from {{{https://github.com/cristian-sulea/${project.artifactId}/releases}the releases page on GitHub}}.


* Maven

---
<dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
</dependency>
---


* Usage / Examples

+--
ResourcesTexts texts = new ResourcesTexts(getClass());

String title = texts.getText("title");
String description = texts.getText("description");
+--

+--
ResourcesImages images = new ResourcesImages(getClass());

Image background = images.getImage("background.png");
ImageIcon icon = images.getImageIcon("icon-ok.png");
+--

	Please check {{{./tutorial.html}the tutorial}} for more and detailed examples.


* Contact
	
	To contact project administrator visit personal web page:
		
		* {{{http://cristian.sulea.net}http://cristian.sulea.net}}
		
		[]
	
	Or one of the profile pages:
	
		* {{{https://github.com/cristian-sulea}@ GitHub}}
		
		* {{{http://sourceforge.net/users/cristian-sulea/}@ SourceForge.net}}
		
		[]


* Licensing
	
	Copyright (C) Cristian Sulea ( {{{http://cristian.sulea.net}http://cristian.sulea.net}} )
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Lesser General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Lesser General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public License
	along with this program.  If not, see {{{http://www.gnu.org/licenses/}http://www.gnu.org/licenses/}}.

